* {
background-color: #ffffff;
}

.logo {
width: 5%;
height: 5%;
}

#navbar {
  width: 100%;
  height: 5%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:gray;
  display: inline;
  float: left;
}

#navbar > a {
  display: block;
  padding: 8px;
}

#navbar > li {
  display: inline;
  float: left;
}
